@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular-3m4L.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular-3m4L.ttf");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Header*/

h1 {
  color: #fddc12ff;
  text-align: center;
  font-family: "Roboto";
}

/*nav*/
.navegacion {
  background-color: #08043bff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*MOVIL*/
@media (min-width: 768px) {
  .navegacion {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.navegacion a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
}

.navegacion a:hover {
  background-color: #fddc12ff;
  color: #08043bff;
}

/*Portada*/
.titulo-bienvenida {
  color: rgb(245, 245, 245);
}

.portada {
  background-image: url(../img/portada.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.portada-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.807);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Main*/
h2 {
  color: #ffca39ff;
  font-family: "Roboto";
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: black;
  font-family: "Roboto";
  padding: 15px;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

p {
  color: rgb(10, 4, 120);
  font-family: "Roboto";
  padding: 20px;
}

.caja1 {
  width: 100vh;
  height: 100%;
  padding: 20px;
}

.contenedor1 {
  padding: 20px;
  margin: 20px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  border-radius: 10px;
}

/*MOVIL*/
@media (max-width: 768px) {
  .contenedor1,
  .caja1 {
    flex-direction: column;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
  }
}

.caja2 {
  width: 100vh;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor2 {
  padding: 40px;
  margin: 20px;
  border: 20px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  border-radius: 10px;
  align-items: center;
}

/*MOVIL*/
@media (max-width: 768px) {
  .contenedor2,
  .caja2 {
    flex-direction: column;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
  }
}

.caja3 {
  width: auto;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.contenedor3 {
  padding: 40px;
  margin: 20px;
  border: 20px;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  border-radius: 10px;
}

/*MOVIL*/
@media (max-width: 768px) {
  .contenedor3,
  .caja3,
  .caja4 {
    flex-direction: column;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
  }
}

/* Botones*/
.boton {
  text-decoration: none;
  background-color: #08043bff;
  color: #fddc12ff;
  padding: 10px 15px;
  margin-top: 50px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
}

.boton:hover {
  background-color: #fddc12ff;
  color: #08043bff;
}

/*Ubicación*/
iframe {
  border-radius: 10px;
}
/*MOVIL*/
@media (max-width: 768px) {
  .mapa {
    max-width: 100%;
    height: 280px;
  }
}

.caja4 {
  text-align: center;
}

/*Footer*/
.footer {
  background-color: #08043bff;
  color: white;
  text-align: center;
} /*FIN DEL INDEX*/

/*Pagina Nosotros*/
.nosotros {
  background-image: url(../img/sobrenosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}

.contenedor-nosotros {
  padding: 40px;
  margin: 20px;
  border: 20px;
  width: auto;
  height: auto;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.38);
  border-radius: 10px;
  text-align: justify;
} /*Fin Pagina Nosotros*/

/*Pagina Contacto*/
.contacto {
  background-image: url(../img/contacto.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}

.campo {
  margin-bottom: 10px;
}

.campo label {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
}

.imput-text {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.formulario {
  background-color: rgba(0, 0, 0, 0.38);
  width: min(600px, 100%);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.formulario1 {
  text-align: center;
  font-weight: bold;
}
